@model TermProject.Models.ProductViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Theme.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @ViewBag.List;

    <div class="form-horizontal">
        <h4>ProductViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" data-toggle="select" id="categoryID" name="categoryID" style="height:36px;font-size:small; font-style:italic;">
                <option selected="" value="">Manufacturer Name </option>
                @{
                    if (ViewBag.Hos != null)
                    {
                        foreach (var hh in ViewBag.Hos)
                        {
                            <option value=@hh.id>@hh.Manufacturer</option>
                        }
                    }
                }
            </select>

            @*@Html.LabelFor(model => model.categoryID, htmlAttributes: new { @class = "control-label col-md-2" })*@
            
                @*@Html.EditorFor(model => model.categoryID, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.categoryID, "", new { @class = "text-danger" })
           
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Add_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Add_Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Add_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Update_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Update_Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Update_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WIFI, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.WIFI)
                    @Html.ValidationMessageFor(model => model.WIFI, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.size, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.size, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.size, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Resolution, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Resolution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Resolution, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.image1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.image1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.image1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.image2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.image2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.image2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.image3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.image3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.image3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.card_support, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.card_support)
                    @Html.ValidationMessageFor(model => model.card_support, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" data-toggle="select" id="RAMid" name="RAMid" style="height:36px;font-size:small; font-style:italic;">
                <option selected="" value=""> RAM </option>
                @{
                    if (ViewBag.rms != null)
                    {
                        foreach (var hh in ViewBag.rms)
                        {
                            <option value=@hh.Id>@hh.Capacity</option>
                        }
                    }
                }
            </select>
            <div class="col-md-10">
                @*Html.EditorFor(model => model.RAMid, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.RAMid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" data-toggle="select" id="BcamId" name="BcamId" style="height:36px;font-size:small; font-style:italic;">
                <option selected="" value=""> BackCamera </option>
                @{
                    if (ViewBag.bcam != null)
                    {
                        foreach (var hh in ViewBag.bcam)
                        {
                            <option value=@hh.Id>@hh.Pixel</option>
                        }
                    }
                }
            </select>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.BcamId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.BcamId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" data-toggle="select" id="FcamId" name="FcamId" style="height:36px;font-size:small; font-style:italic;">
                <option selected="" value=""> FrontCamera </option>
                @{
                    if (ViewBag.cam != null)
                    {
                        foreach (var hh in ViewBag.cam)
                        {
                            <option value=@hh.Id>@hh.Pixel</option>
                        }
                    }
                }
            </select>
            
                @*@Html.EditorFor(model => model.FcamId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.FcamId, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
            <select class="form-control" data-toggle="select" id="DPT_Id" name="DPT_Id" style="height:36px;font-size:small; font-style:italic;">
                <option selected="" value=""> Display </option>
                @{
                    if (ViewBag.dis != null)
                    {
                        foreach (var hh in ViewBag.dis)
                        {
                            <option value=@hh.id>@hh.Technology</option>
                        }
                    }
                }
            </select>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.DPT_Id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.DPT_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" data-toggle="select" id="USB_Id" name="USB_Id" style="height:36px;font-size:small; font-style:italic;">
                <option selected="" value=""> Browser </option>
                @{
                    if (ViewBag.usbs != null)
                    {
                        foreach (var hh in ViewBag.usbs)
                        {
                            <option value=@hh.id>@hh.Type</option>
                        }
                    }
                }
            </select>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.USB_Id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.USB_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" data-toggle="select" id="OS_Id" name="OS_Id" style="height:36px;font-size:small; font-style:italic;">
                <option selected="" value=""> Operating System </option>
                @{
                    if (ViewBag.ops != null)
                    {
                        foreach (var hh in ViewBag.ops)
                        {
                            <option value=@hh.Id>@hh.OS</option>
                        }
                    }
                }
            </select>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.OS_Id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.OS_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" data-toggle="select" id="ROM_Id" name="ROM_Id" style="height:36px;font-size:small; font-style:italic;">
                <option selected="" value=""> ROM </option>
                @{
                    if (ViewBag.roms != null)
                    {
                        foreach (var hh in ViewBag.roms)
                        {
                            <option value=@hh.id>@hh.ROM1</option>
                        }
                    }
                }
            </select>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ROM_Id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.ROM_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" data-toggle="select" id="Connectivity_Id" name="Connectivity_Id" style="height:36px ;font-size:small; font-style:italic; width:50px ">
                <option selected="" value=""> Connectitivity </option>
                @{
                    if (ViewBag.cnc != null)
                    {
                        foreach (var hh in ViewBag.cnc)
                        {
                            <option value=@hh.id>@hh.C3G_Band</option>
                        }
                    }
                }
            </select>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Connectivity_Id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Connectivity_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" data-toggle="select" id="Processor_Id" name="Processor_Id" style="height:36px;font-size:small; font-style:italic;">
                <option selected="" value=""> Processor </option>
                @{
                    if (ViewBag.pro != null)
                    {
                        foreach (var hh in ViewBag.pro)
                        {
                            <option value=@hh.Id>@hh.CPU</option>
                        }
                    }
                }
            </select>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Processor_Id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Processor_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <select class="form-control" data-toggle="select" id="Browser_Id" name="Browser_Id" style="height:36px;font-size:small; font-style:italic;">
                <option selected="" value=""> Browser </option>
                @{
                    if (ViewBag.brw != null)
                    {
                        foreach (var hh in ViewBag.brw)
                        {
                            <option value=@hh.id>@hh.Type</option>
                        }
                    }
                }
            </select>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Browser_Id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Browser_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
