@model IEnumerable<TermProject.Models.BacKCameraVIewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Theme.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pixel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pixel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.bid }) |
            @Html.ActionLink("Details", "Details", new {  id=item.bid }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.bid  })
        </td>
    </tr>
}

</table>
